<div class="body-div">
<% @messages.each do |message| %>
	<li> <%= message.content %></li>
	<% sender = Bumblebee.find_by(id: message.bumblebee_id) %>
	<% recipient = Bumblebee.find_by(id: message.recipient_id) %>
	<p> received by: <%= recipient.username %></p>
	<p> sent by: <%= sender.username %></p>
<% end %>
</div>