*{
font-family: 'ABeeZee', sans-serif;
}

html{
	height:100%;
}

body{
	width:100%;
	display:table;
	height:100%;
}

#home{
	display:table-cell;
	vertical-align:middle;
	margin:0 auto;
	text-align:center;
}

#mini-menu{
	position:fixed;
	top:25%;
	left:0;
}

#mini-menu div{
	display:inline-block;
	margin:0;
	float:left;
}

a{
	color:black;
	text-decoration: none;
}

button, input[type=submit]{
	background-color:black;
	border-right:1px solid white;
	border-top:none;
	border-left:none;
	border-bottom:none;
	color:white;
}

button:hover, input[type=submit]:hover{
	color:yellow;
}

/* removes blue outline*/
button:focus, input:focus{
	outline:none;
}

input{
	display:block;
	margin: 5px 0;
}

ul{
	list-style-type:none;
}


img{
	height:200px;
	width:200px;
}

#video-bg{
	position: fixed;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -100;

	background-size: cover;
	opacity:.9;
}