<div class="body-div">

<h2 class="center-text">EXPLORE THE HONEYCOMBS</h2>

<div id="gallery-div">
<ul class="hexagons clr" id="gallery">
<% @gallery.each do |photo| %>
	
	<li>
		<div>
			<img src=<%= photo.link %> alt="an image">
		</div>
	</li>
	

<% end %>
</ul>
</div>
</div>