<!-- <video loop autoplay id="video-bg">

<source src="/video/bees-compressed.mp4" type="video/mp4">
</video> -->

<div id="home">
	<h1><%= "Bumble Bumble" %></h1>

	<a href="/login"><button type="button">Log In</button></a>

	<a href="/signup"><button type="button">Sign Up</button></a>

</div>
