<form action="/bumblebee/login" method="post">
  <fieldset>
    <!-- <legend>Fieldset Legend</legend> -->
    <label>Username
    <input type="text" name="username" placeholder="username">
    </label>
    <label>Password
    <input type="password" name="password" placeholder="password">
    </label>
    <input class="button small" type="submit" value="Submit">
  </fieldset>
</form>