<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/normalize.css">

  <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>

  <link href="/imgs/logo.ico" rel="icon" type="image/x-icon"/>

  <!-- abeezee font -->
  <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/application.css">

  

  <!--<script src="/js/vendor/modernizr.js"></script>-->

  <title>theHive</title>
</head>
<body>
<!-- navbar -->

<!-- end navbar -->
  <%= yield %>

    <div>

    <% if logged_in? %>
    <form action="/search" method="post" style="display:inline-block">
      <input type="search" name="search_request" style="display:inline-block">
      <input class="button small" type="submit" value="Search" style="display:inline-block">
    </form>
    <a class="button small" href="/gallery" style="display:inline-block">Photo Gallery</a>
  </div>
  <% end %>

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
  
</body>
</html>
