<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/foundation-normalize.css">

  <link rel="stylesheet" href="/css/foundation.css">

  <link href="/imgs/logo.ico" rel="icon" type="image/x-icon"/>

  <!-- abeezee font -->
  <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="/js/application.js"></script>

  <script src="/js/vendor/modernizr.js"></script>

  <title></title>
</head>
<body>
  
    <% if logged_in? %>
    <div>
    <a class="button small" href="/bumblebee/user/<%= current_user.username %>">Home</a>  
    <form action="/search" method="post" style="display:inline-block">
      <input type="search" name="search_request" style="display:inline-block">
      <input class="button small" type="submit" value="Search" style="display:inline-block">
    </form>
    <a class="button small" href="/gallery" style="display:inline-block">Photo Gallery</a>
    <a class="button small" href="/bumblebee/logout" style="display:inline-block">Log Out</a>
    </div>
    <% end %>


  <%= yield %>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/fastclick.js"></script>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
