<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">

  <link href="/imgs/logo.ico" rel="icon" type="image/x-icon"/>

  <!-- abeezee font -->
  <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  
    <% if logged_in? %>
    <div>
    <a href="/bumblebee/user/<%= current_user.username %>"><button>Home</button></a>  
    <form action="/search" method="post" style="display:inline-block">
      <input type="search" name="search_request" style="display:inline-block">
      <input class="submit" type="submit" value="Search" style="display:inline-block">
    </form>
    <a href="/gallery"><button style="display:inline-block">Photo Gallery</button></a>
    <a href="/bumblebee/logout"><button type="button" style="display:inline-block">Log Out</button></a>
    </div>
    <% end %>


  <%= yield %>

</body>
</html>
